<!doctype html>
<html ng-app="App">
  <head>
    <title>Grades</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css"/>

    <script type="text/javascript" src="/assets/js/jsStat.js"></script>
    <script type="text/javascript" src="/assets/js/numeral.js"></script>

    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/ngStorage.js"></script>

    <script type="text/javascript" src="/assets/js/FormController.js"></script>
    <script type="text/javascript" src="/assets/js/Filters.js"></script>
  </head>
  <body>
    <div ng-controller="FormController">
      <h1>Assignment: '{{$storage.name}}'</h1>
      <form>
        <fieldset class="scoring" ng-show="debug">
          <label>Assignment Scoring:</label>
          <div>
            <input type="text" ng-model="$storage.name" required>
            <input type="text" ng-model="$storage.max" required>
            <input type="text" ng-model="$storage.extra" required>
          </div>
        </fieldset>
        <fieldset class="students">
          <label>Students:</label>

          [ <a href="" ng-click="addStudent()">add</a> ]

          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name:</th>
                <th>Score:</th>
                <th>Remove:</th>
              </tr>
            </thead>            

            <tbody ng-repeat="student in clonedStudents">
              <tr class="{{student | highlightLowScore}}" id="row-{{student.id}}">
                <td>{{$index}}</td>
                <td>
                  <input type="text"
                    ng-model="student.name"
                    ng-blur="saveOnBlur()"
                    id="row-name-{{student.id}}"
                    focus-new-student="{{student.isLast = $index == clonedStudents.length - 1}}"
                    required>
                </td>
                <td>
                  <input type="text" ng-model="student.score" ng-blur="saveOnBlur()" id="row-score-{{student.id}}" ng-keypress="saveOnEnter($event)" required>
                </td>
                <td>
                  <span>[ <a href="" ng-click="removeStudent(student)">X</a> ]</span>
                </td>
              </tr>
            </tbody>
          </table>

        </fieldset>
        <div class="stats">
          <dl>
            <dt>Summary:</dt>
            <dd>
              <dl>
                <dt>Average:</dt>
                <dd>{{$storage | scores | mean | number}}</dd>
              </dl>
              <dl>
                <dt>Min:</dt>
                <dd>{{$storage | scores | min}}</dd>
              </dl>
              <dl>
                <dt>Max:</dt>
                <dd>{{$storage | scores | max}}</dd>
              </dl>
            </dd>
          </dl>
        </div>
        <div ng-show="debug">
          <dl>
            <dt>Debug View:</dt>
            <dd>
              <pre>Students={{$storage | json}}</pre>
            </dd>
          </dl>
        </div>
      </form>
    </div>
  </body>
</html>