<!doctype html>
<html ng-app="App">
  <head>
    <title>Grades</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css"/>

    <script type="text/javascript" src="/assets/js/jsStat.js"></script>
    <script type="text/javascript" src="/assets/js/numeral.js"></script>

    <script type="text/javascript" src="/assets/js/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/ngStorage.js"></script>

    <script type="text/javascript" src="/assets/js/FormController.js"></script>
    <script type="text/javascript" src="/assets/js/Filters.js"></script>
  </head>
  <body>
    <div ng-controller="FormController">
      <div ng-keypress="cssRefresh()" tabindex="0">
        <fieldset class="scoring">
          <label>Assignment Rubrick:</label>
          <div>
            <input type="text" ng-model="$storage.name" required>
            <input type="text" ng-model="$storage.max" required>
            <input type="text" ng-model="$storage.extra" required>
          </div>
        </fieldset>
        <br/>
        <fieldset class="students">
          <label>Students:</label>
          [ <a href="" ng-click="addStudent()">add</a> ]
          <div ng-repeat="student in $storage.students">
            <div class="{{student | highlightLowScore}}">
              <input ng-show="debug" type="text" ng-model="student.id" required>
              <input type="text" ng-model="student.name" required>
              <input type="text" ng-model="student.score" required>
              <span>{{student | scorePercent:$storage}}</span>
              <span>[ <a href="" ng-click="removeStudent(student)">X</a> ]</span>
            </div>
          </div>
        </fieldset>
        <br/>
        <div class="stats">
          <dl>
            <dt>Stats:</dt>
            <dd>
              <dl>
                <dt>Mean:</dt>
                <dd>{{$storage | scores | mean | number}}</dd>
              </dl>
              <dl>
                <dt>Median:</dt>
                <dd>{{$storage | scores | median | number}}</dd>
              </dl>
              <dl>
                <dt>Mode:</dt>
                <dd>{{$storage | scores | mode}}</dd>
              </dl>
              <dl>
                <dt>Min:</dt>
                <dd>{{$storage | scores | min}}</dd>
              </dl>
              <dl>
                <dt>Max:</dt>
                <dd>{{$storage | scores | max}}</dd>
              </dl>
              <dl>
                <dt>Variance:</dt>
                <dd>{{$storage | scores | variance | pct}}</dd>
              </dl>
              <dl>
                <dt>Standard Deviation:</dt>
                <dd>{{$storage | scores | standardDeviation | pct}}</dd>
              </dl>
            </dd>
          </dl>
        </div>
        <hr/>
        <div ng-show="debug">
          <dl>
            <dt>Debug View:</dt>
            <dd>
              <pre>Students={{$storage | json}}</pre>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </body>
</html>