.stats {
	position: fixed;
	top:0px;
	right:0px;
	border-radius: 0px 0px 0px 8px;
	border-left:1px solid #999;
	border-bottom: 1px solid #999;
	padding:8px;
	box-shadow: 0px 0px 40px #888;
	width: 150px;
}
.stats > dl > dt {
	margin-bottom: 8px;
}
.stats dl dl, .stats dl dl dd, .stats dl dl dt {
	margin:0px;
	padding:0px;
	line-height: 12px;
}
.stats dd dl {
	margin-bottom: 12px;
}




.low-score input[type='text'] {
	background-color:#f2dede;
	color:#b94a48;
}
.students input {
	font-weight: bold;
}
.students > div+div {
	margin-top:8px;
}
body > div {
	margin:0px auto;
	width:980px;
	margin-top:20px;
}

